$primary-lightest: #A75A54;
$primary-lighter: #813933;
$primary-primary: #65201B;
$primary-darker: #440D09;
$primary-darkest: #260300;

$red-lightest: #A75A54;
$red-lighter: #813933;
$red-primary: #65201B;
$red-darker: #440D09;
$red-darkest: #260300;

$blue-lightest: #346066;
$blue-lighter: #20494F;
$blue-primary: #11383E;
$blue-darker: #06262A;
$blue-darkest: #001417;

$green-lighter:#276331;
$green-primary:#154D1F;
$green-darker:#07340F;

$grey-lightest: #F9F9F9;
$grey-lighter: #C9C9C9;
$grey-primary: #454545;
$grey-darker: #343434;
$grey-darkest: #121212;

$white: #F9F9F9;
$black: #010101;